.gamePiece {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-size: cover;
    box-shadow: 5px 5px 5px #fff;
    border-radius: 15px;
}

p {
    color: #fff;
    padding-left: 10px;
    padding-top: 5px;
}

.gamePiece:hover {
    border: 4px solid #fff;
}

@media (max-width: 750px) {

    .gamePiece {
        height: 100px;
        width: 100px;
    }
}

@media (max-width: 400px) {

    .gamePiece {
        height: 75px;
        width: 75px;
    }
}
